.btn {
  width: 50px;
  height: 50px;
  // padding: 15px 20px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;

  &-prev {
    position: absolute;
    top: 15px;
    left: 40px;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  &-next {
    position: absolute;
    top: 15px;
    right: 40px;

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }

  &-rand {
    position: absolute;
    top: 15px;
    right: 50%;
    transform: translateX(50%);

    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
  }
}


.btn-start {
  position: absolute;
  bottom: 175px;
  right: 50%;
  width: 160px;
  transform: translateX(50%);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 14px;
  animation-name: btnMove;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes btnMove {
  0% {
    width: 160px;
  }

  50% {
    width: 200px;
  }

  100% {
   width: 160px;
  }
}
