.container-Horizontal_Img_Link {
  display: flex;
  width: 100%;
  height: 370px;


  &--img1 {
    width: auto;
    height: 200px;
    transform: translateX(20px);
    z-index: 10;
    border-radius: 20px;

    -webkit-box-shadow: 9px 5px 8px 5px rgba(0,0,0,0.30);
    box-shadow: 9px 5px 8px 5px rgba(0,0,0,0.30);

  }

  &--img2 {
    width: auto;
    height: 200px;
    transform: translateX(-220px) translateY(50px);
    z-index: 9;
    border-radius: 20px;
    margin-top: 20px;

    -webkit-box-shadow: 9px 5px 8px 5px rgba(0,0,0,0.30);
    box-shadow: 9px 5px 8px 5px rgba(0,0,0,0.30);
  }


  &--img3 {
    width: auto;
    height: 200px;
    transform: translateX(-475px) translateY(100px);
    z-index: 8;
    border-radius: 20px;

    margin-top: 40px;

    -webkit-box-shadow: 9px 5px 8px 5px rgba(0,0,0,0.30);
    box-shadow: 9px 5px 8px 5px rgba(0,0,0,0.30);
  }
}
