.container-Horizontal-Img_Preview {
  width: 180px;
  height: 97%;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(180px, -50%);


  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  transition: all .4s;
    z-index: 105;

    overflow-y: scroll;
    overflow-x: hidden;
}


// затемнение страницы просмотра изображений при выезжании блока превьюх
.overlay-Horizontal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6));
  z-index: 100;
  transition: all 1s;
}


.horiz-img-preview {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
