// кнопки на главном экране вывода и просомтра изображений
.btn {
  width: 50px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, .8);
  border-radius: 50px;

  color: rgba(255, 255, 255, 1);

  -webkit-box-shadow: 0px -12px 21px -16px rgba(0,0,0,0.87);
  box-shadow: 0px -12px 21px -16px rgba(0,0,0,0.87);

  &-prev,
  &-next,
  &-rand,
  &-list {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    color: rgba(255, 255, 255, .9);
    border: 1px solid rgba(255, 255, 255, .6);

    transition: all 0.4s;

    &:active {
      transform: scale(1.3);
    }
  }

  // иконки внутри кнопок
  & span {
    color: rgba(255, 255, 255, .7);
  }
}


// кнопка Start Journey на Стартовом экране
.btn-start {
  position: absolute;
  bottom: 175px;
  right: 50%;
  width: 160px;
  transform: translateX(50%);

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  font-size: 19px;
  letter-spacing: 1px;

  animation-name: btnMove;
  animation-duration: 5s;
  animation-iteration-count: infinite;

  font-family: 'Viaoda Libre', cursive;
}

// анимация кнопки на Стартовом экране приветствия Start Journey
@keyframes btnMove {
  0% {
    width: 160px;
  }

  50% {
    width: 200px;
  }

  100% {
   width: 160px;
  }
}





















// а
